body {
    background-color:grey;
}

.container {
    width:400px;
    margin:0 auto;
}

h1 {
    text-align:center;
}

.board {
    height:300px;
    width:300px;
    margin:0 auto;
    padding:0;
}

.board li {
    background-color: white;
    list-style:none;
    overflow:hidden;
    display:block;
    height:100px;
    width:100px;
    float:left;
    border:1px solid red;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.square {
    text-align:center;
    font-size:5em;
}

.reset{
    
}